<strong>
    Olá, {{ organizer }}
</strong>
<p>Houve uma nova inscrição, confira abaixo os detalhes:</p>
<p>
    <strong>Usuário: </strong> {{user}} <br />
    <strong>Data/Hora: </strong> Referente ao Hackathon do {{date}} <br />

    <small>
        HappyHack :) .
    </small>
</p>